<%- include("partials/header") %>

<div style="text-align: center;">
    <h1>Index Page</h1>
    
    <p>Welcome to Projects Blog</p>
    
    <a href="">Projects</a>
</div>

<%- include("partials/footer") %> 